
#logo {
    width: 100px;
    height: auto;
    transition: width 0.8s ease-out; 
    will-change: width;
}

.first-bg-light {
    background-color: rgb(101, 207, 236);
    }

.first-txt-dark {
    color: rgb(36, 61, 68);
    }

.first-txt-light {
    color: rgb(4, 161, 204);
        }

a  {
    color: rgb(4, 161, 204);
    }

a:hover   {
    color: rgb(3, 109, 138);
    }